Repository castrogarciajs/kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint . --fix, prettier --write .

Add eslint config projects
  .eslintrc.json
  .prettierrc.mjs
Due: prettier --write .

Add plugins for typescript
  package.json
  pnpm-lock.yaml
Due: prettier --write .

Add files .gitattributes
  .gitattributes
Due: none

Add config build types
  .eslintrc.json
  package.json
  packages/kit/.npmignore
  packages/kit/package.json
  packages/kit/src/index.js
  packages/kit/tsconfig.json
  packages/kit/types/index.d.ts
  packages/kit/types/index.d.ts.map
  pnpm-lock.yaml
Due: eslint . --fix, prettier --write .

Add config build types
  .eslintrc.json
Due: prettier --write .

Add config tailwindCSS
  packages/kit/.npmignore
  packages/kit/package.json
  packages/kit/postcss.config.js
  packages/kit/src/index.js
  packages/kit/src/themes/colors.js
  packages/kit/src/themes/index.js
  packages/kit/styles.css
  packages/kit/tailwind.config.js
  packages/kit/types/index.d.ts
  packages/kit/types/index.d.ts.map
  pnpm-lock.yaml
Due: eslint . --fix, prettier --write .

Add first test with @material-kit
  docs/astro.config.mjs
  docs/package.json
  docs/tailwind.config.mjs
  packages/kit/.npmignore
  packages/kit/README.md
  packages/kit/package.json
  packages/kit/src/index.js
  packages/kit/src/themes/colors.js
  packages/kit/tailwind.config.js
  packages/kit/tsconfig.json
  packages/kit/types/index.d.ts
  packages/kit/types/index.d.ts.map
  packages/kit/types/themes/colors.d.ts
  packages/kit/types/themes/colors.d.ts.map
  packages/kit/types/themes/index.d.ts
  packages/kit/types/themes/index.d.ts.map
  pnpm-lock.yaml
Due: eslint . --fix, prettier --write .

Ignore folder dist
  .eslintrc.json
Due: prettier --write .

Install @material-kit/ui example
  pnpm-lock.yaml
Due: prettier --write .

Add styles base material desing
  docs/astro.config.mjs
  packages/kit/index.js
  packages/kit/package.json
  packages/kit/src/themes/colors.js
  packages/kit/src/themes/index.js
  packages/kit/tailwind.config.js
  packages/kit/themes/colors.js
  packages/kit/themes/index.js
  packages/kit/themes/shadows.js
  packages/kit/tsconfig.json
  packages/kit/types/colors.d.ts
  packages/kit/types/colors.d.ts.map
  packages/kit/types/index.d.ts.map
  packages/kit/types/shadows.d.ts
  packages/kit/types/shadows.d.ts.map
Due: eslint . --fix, prettier --write .

Add new colors to materialKit
  docs/src/content/docs/index.mdx
  packages/kit/themes/colors.js
  packages/kit/types/colors.d.ts
  packages/kit/types/colors.d.ts.map
Due: eslint . --fix, prettier --write .

Add new colors to materialKit
  packages/kit/themes/colors.js
Due: eslint . --fix, prettier --write .

Add swc compiler
  docs/src/content/docs/index.mdx
  packages/fonts/package.json
  packages/kit/.npmignore
  packages/kit/types/colors.d.ts
  packages/kit/types/colors.d.ts.map
  packages/kit/types/index.d.ts
  packages/kit/types/index.d.ts.map
  packages/kit/types/shadows.d.ts
  packages/kit/types/shadows.d.ts.map
  packages/kit/types/themes/colors.d.ts
  packages/kit/types/themes/colors.d.ts.map
  packages/kit/types/themes/index.d.ts
  packages/kit/types/themes/index.d.ts.map
  packages/ui/README.md
  packages/ui/index.js
  packages/ui/package.json
  packages/ui/postcss.config.mjs
  packages/ui/styles.css
  packages/ui/tailwind.config.mjs
  packages/ui/themes/colors.js
  packages/ui/themes/index.js
  packages/ui/themes/shadows.js
  packages/ui/tsconfig.json
  packages/ui/types/index.d.ts
  pnpm-lock.yaml
Due: eslint . --fix, prettier --write .

Add new packages material
  docs/package.json
  package.json
  packages/material-icons/package.json
  packages/material/README.md
  packages/material/index.js
  packages/material/package.json
  packages/material/postcss.config.mjs
  packages/material/styles.css
  packages/material/tailwind.config.mjs
  packages/material/themes/colors.js
  packages/material/themes/index.js
  packages/material/themes/shadows.js
  packages/material/tsconfig.json
  packages/material/types/index.d.ts
  pnpm-lock.yaml
Due: eslint . --fix, prettier --write .

Add docs project astro
  .prettierrc.mjs
  .vscode/settings.json
  docs/README.md
  docs/astro.config.mjs
  docs/package.json
  docs/public/favicon.svg
  docs/src/assets/houston.webp
  docs/src/content/config.ts
  docs/src/content/docs/guides/example.md
  docs/src/content/docs/index.mdx
  docs/src/content/docs/reference/example.md
  docs/src/env.d.ts
  docs/src/pages/index.astro
  docs/tailwind.config.mjs
  docs/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: eslint . --fix, prettier --write .

Add docs with astro
  docs/.gitignore
  docs/.vscode/extensions.json
  docs/.vscode/launch.json
  docs/README.md
  docs/astro.config.mjs
  docs/src/layouts/Layout.astro
  docs/src/pages/index.astro
  docs/tailwind.config.mjs
  packages/material/package.json
Due: eslint . --fix, prettier --write .

Add worksflow github with changeset
  .changeset/README.md
  .changeset/config.json
  .github/worksflow/ci.yaml
  .github/worksflow/publish.yaml
  package.json
  packages/material/.npmignore
  packages/material/package.json
  pnpm-lock.yaml
Due: prettier --write .

Rename worksflow to workflows
  .github/workflows/ci.yaml
  .github/workflows/publish.yaml
  docs/astro.config.mjs
Due: prettier --write .

Add scoped packages to fonts
  packages/fonts/package.json
Due: prettier --write .

Migrate to typescript with tsup
  .changeset/thin-rings-bow.md
  packages/material/index.js
  packages/material/package.json
  packages/material/postcss.config.js
  packages/material/src/index.ts
  packages/material/src/themes/colors.ts
  packages/material/src/themes/index.ts
  packages/material/src/themes/shadows.ts
  packages/material/tailwind.config.ts
  packages/material/themes/index.js
  packages/material/tsconfig.json
  packages/material/types/index.d.ts
Due: eslint . --fix, prettier --write .

Add scope npm
  .changeset/sharp-wasps-repair.md
  packages/fonts/package.json
  packages/material-icons/package.json
  packages/material/package.json
Due: prettier --write .

Publish first version material
  .changeset/sharp-wasps-repair.md
  .changeset/thin-rings-bow.md
  docs/package.json
  package.json
  packages/material/CHANGELOG.md
  packages/material/package.json
  pnpm-lock.yaml
Due: prettier --write .

Update modules
  pnpm-lock.yaml
Due: prettier --write .

Remove index.ts reduce kb
  packages/material/src/index.ts
  packages/material/src/themes/index.ts
Due: eslint . --fix, prettier --write .

Remove file publish.yaml
  .github/workflows/publish.yaml
Due: prettier --write .

New version minor @material
  packages/material/CHANGELOG.md
  packages/material/package.json
Due: prettier --write .

New version minor @castrogarciajs/material
  docs/.gitignore
  docs/.vscode/extensions.json
  docs/.vscode/launch.json
  docs/README.md
  docs/astro.config.mjs
  docs/package.json
  docs/public/favicon.svg
  docs/src/env.d.ts
  docs/src/layouts/Layout.astro
  docs/src/pages/index.astro
  docs/tailwind.config.mjs
  docs/tsconfig.json
  packages/material/CHANGELOG.md
  packages/material/package.json
Due: eslint . --fix, prettier --write .

Add docs to project
  README.md
  docs/next.config.mjs
  docs/package.json
  docs/pages/_meta.json
  docs/pages/index.mdx
  docs/theme.config.jsx
  pnpm-lock.yaml
Due: eslint . --fix, prettier --write .

Add tailwindcss to docs
  docs/components/button.tsx
  docs/globals.css
  docs/next-env.d.ts
  docs/next.config.mjs
  docs/package.json
  docs/pages/404.mdx
  docs/pages/_app.mdx
  docs/pages/index.mdx
  docs/postcss.config.js
  docs/tailwind.config.ts
  docs/theme.config.tsx
  docs/tsconfig.json
  pnpm-lock.yaml
Due: eslint . --fix, prettier --write .

Fix formatter code
  docs/globals.css
  docs/next.config.mjs
Due: none

Update dependecies pacakges
  packages/material/package.json
  pnpm-lock.yaml
Due: prettier --write .

Add schemas docs
  docs/components/button.tsx
  docs/pages/_meta.json
  docs/pages/about.mdx
  docs/pages/docs/_meta.json
  docs/pages/docs/guide.mdx
  docs/pages/docs/index.mdx
  docs/pages/index.mdx
Due: eslint . --fix, prettier --write .

Fix dependecies library
  docs/package.json
Due: prettier --write .

Add route docs
  docs/package.json
  docs/pages/docs/_meta.json
  docs/pages/docs/components/button.mdx
  docs/pages/docs/customization/colors.mdx
  docs/pages/docs/index.mdx
  docs/pages/docs/integrations/nextjs.mdx
Due: prettier --write .

Update modules
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  docs/pages/docs/_meta.json
  docs/pages/docs/installation.mdx
  pnpm-lock.yaml
Due: prettier --write .

Add examples buttons
  docs/components/button.tsx
  docs/components/examples/button.tsx
  docs/components/flex.tsx
  docs/pages/docs/components/button.mdx
  packages/material/postcss.config.js
  packages/material/tailwind.config.ts
Due: eslint . --fix, prettier --write .

Rename package deploy
  packages/vercel/package.json
Due: prettier --write .

Remove package unnecesary
  docs/package.json
  packages/fonts/package.json
  packages/material-icons/package.json
  packages/material/package.json
  pnpm-lock.yaml
Due: prettier --write .

Add new version pacakge
  packages/material/CHANGELOG.md
  packages/material/package.json
  packages/vercel/package.json
Due: prettier --write .

Path conditions:
  eslint . --fix: any of: *.{js,ts,tsx,jsx,astro}
  prettier --write .: any of: *.{astro,js,jsx,ts,tsx,mdx,md,json,yaml,yml}
