Repository castrogarciajs/kit: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint . --fix, prettier --write .

Remove docs
  docs/components/examples/button.tsx
  docs/components/flex.tsx
  docs/globals.css
  docs/next-env.d.ts
  docs/next.config.mjs
  docs/package.json
  docs/pages/404.mdx
  docs/pages/_app.mdx
  docs/pages/_meta.json
  docs/pages/about.mdx
  docs/pages/docs/_meta.json
  docs/pages/docs/components/button.mdx
  docs/pages/docs/customization/colors.mdx
  docs/pages/docs/index.mdx
  docs/pages/docs/installation.mdx
  docs/pages/docs/integrations/nextjs.mdx
  docs/pages/index.mdx
  docs/postcss.config.js
  docs/tailwind.config.ts
  docs/theme.config.tsx
  docs/tsconfig.json
  pnpm-workspace.yaml
Due: eslint . --fix, prettier --write .

Remove docs ignore eslint
  .eslintrc.json
Due: prettier --write .

New name library defined
  packages/material/CHANGELOG.md
  packages/material/package.json
  packages/vercel/package.json
Due: prettier --write .

Change version minor vercel-design
  packages/vercel/package.json
Due: prettier --write .

Update version packages
  pnpm-lock.yaml
Due: prettier --write .

Add examples with diverse
  examples/next-with-diverse/.eslintrc.json
  examples/next-with-diverse/.gitignore
  examples/next-with-diverse/README.md
  examples/next-with-diverse/app/favicon.ico
  examples/next-with-diverse/app/globals.css
  examples/next-with-diverse/app/layout.tsx
  examples/next-with-diverse/app/page.tsx
  examples/next-with-diverse/next.config.mjs
  examples/next-with-diverse/package.json
  examples/next-with-diverse/postcss.config.js
  examples/next-with-diverse/public/next.svg
  examples/next-with-diverse/public/vercel.svg
  examples/next-with-diverse/tailwind.config.ts
  examples/next-with-diverse/tsconfig.json
  examples/vite-with-diverse/.gitignore
  examples/vite-with-diverse/README.md
  examples/vite-with-diverse/index.html
  examples/vite-with-diverse/package.json
  examples/vite-with-diverse/postcss.config.js
  examples/vite-with-diverse/public/vite.svg
  examples/vite-with-diverse/src/App.css
  examples/vite-with-diverse/src/App.tsx
  examples/vite-with-diverse/src/assets/react.svg
  examples/vite-with-diverse/src/index.css
  examples/vite-with-diverse/src/main.tsx
  examples/vite-with-diverse/src/vite-env.d.ts
  examples/vite-with-diverse/tailwind.config.ts
  examples/vite-with-diverse/tsconfig.json
  examples/vite-with-diverse/tsconfig.node.json
  examples/vite-with-diverse/vite.config.ts
Due: eslint . --fix, prettier --write .

Add rules settings for tailwindcss
  .vscode/settings.json
Due: prettier --write .

Ignore folder exaples
  .eslintrc.json
Due: prettier --write .

Fix description library
  package.json
Due: prettier --write .

Update packages
  pnpm-lock.yaml
Due: prettier --write .

Add workspace examples
  pnpm-workspace.yaml
Due: prettier --write .

Fix formatter code with prettier
  examples/next-with-diverse/next.config.mjs
  packages/material/src/index.ts
  packages/material/src/themes/font-family.ts
  packages/material/src/themes/screens.ts
  packages/material/styles.css
Due: eslint . --fix, prettier --write .

Remove unnecesary css
  examples/next-with-diverse/app/globals.css
  examples/vite-with-diverse/index.html
  examples/vite-with-diverse/src/App.css
  examples/vite-with-diverse/src/App.tsx
  examples/vite-with-diverse/src/index.css
Due: eslint . --fix, prettier --write .

Remove plugin astro unnecessary
  .prettierrc.mjs
  package.json
  pnpm-lock.yaml
Due: prettier --write .

Chore port server in nextjs
  examples/next-with-diverse/package.json
Due: prettier --write .

Add example ripple test with material-design
  examples/vite-with-diverse/index.html
  examples/vite-with-diverse/postcss.config.cjs
  examples/vite-with-diverse/src/App.tsx
  examples/vite-with-diverse/src/main.tsx
  examples/vite-with-diverse/tailwind.config.ts
  packages/material/package.json
  packages/material/src/ripple/index.ts
  packages/material/styles.css
Due: eslint . --fix, prettier --write .

Add example ripple effect
  examples/vite-with-diverse/index.html
  examples/vite-with-diverse/src/App.tsx
  examples/vite-with-diverse/src/main.tsx
  packages/material/CHANGELOG.md
  packages/material/package.json
  packages/material/src/ripple/index.ts
Due: eslint . --fix, prettier --write .

Fix formatter code styles guide
  examples/vite-with-diverse/index.html
Due: none

Path conditions:
  eslint . --fix: any of: *.{js,ts,tsx,jsx,astro}
  prettier --write .: any of: *.{astro,js,jsx,ts,tsx,mdx,md,json,yaml,yml}
